In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/global-earthquake-tsunami-risk-assessment-dataset/earthquake_data_tsunami.csv

In [3]:
df=pd.read_csv('/kaggle/input/global-earthquake-tsunami-risk-assessment-dataset/earthquake_data_tsunami.csv')
df

,magnitude,cdi,mmi,sig,nst,dmin,gap,depth,latitude,longitude,Year,Month,tsunami
0,7.0,8,7,768,117,0.509,17.0,14.000,-9.7963,159.596,2022,11,1
1,6.9,4,4,735,99,2.229,34.0,25.000,-4.9559,100.738,2022,11,0
2,7.0,3,3,755,147,3.125,18.0,579.000,-20.0508,-178.346,2022,11,1
3,7.3,5,5,833,149,1.865,21.0,37.000,-19.2918,-172.129,2022,11,1
4,6.6,0,2,670,131,4.998,27.0,624.464,-25.5948,178.278,2022,11,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
777,7.7,0,8,912,427,0.000,0.0,60.000,13.0490,-88.660,2001,1,0
778,6.9,5,7,745,0,0.000,0.0,36.400,56.7744,-153.281,2001,1,0
779,7.1,0,7,776,372,0.000,0.0,103.000,-14.9280,167.170,2001,1,0
780,6.8,0,5,711,64,0.000,0.0,33.000,6.6310,126.899,2001,1,0
781,7.5,0,7,865,324,0.000,0.0,33.000,6.8980,126.579,2001,1,0

In [4]:
import pandas as pd
import numpy as np

In [6]:
df.shape
list(df.columns)

['magnitude',
 'cdi',
 'mmi',
 'sig',
 'nst',
 'dmin',
 'gap',
 'depth',
 'latitude',
 'longitude',
 'Year',
 'Month',
 'tsunami']

In [7]:
#step2 inspect dataframe
#missing values 
df.isnull().sum()

magnitude    0
cdi          0
mmi          0
sig          0
nst          0
dmin         0
gap          0
depth        0
latitude     0
longitude    0
Year         0
Month        0
tsunami      0
dtype: int64

In [8]:
df.dtypes

magnitude    float64
cdi            int64
mmi            int64
sig            int64
nst            int64
dmin         float64
gap          float64
depth        float64
latitude     float64
longitude    float64
Year           int64
Month          int64
tsunami        int64
dtype: object

In [9]:
#basic stats
df.describe()

,magnitude,cdi,mmi,sig,nst,dmin,gap,depth,latitude,longitude,Year,Month,tsunami
count,782.000000,782.000000,782.000000,782.000000,782.000000,782.000000,782.000000,782.000000,782.000000,782.000000,782.000000,782.000000,782.000000
mean,6.941125,4.333760,5.964194,870.108696,230.250639,1.325757,25.038990,75.883199,3.538100,52.609199,2012.280051,6.563939,0.388747
std,0.445514,3.169939,1.462724,322.465367,250.188177,2.218805,24.225067,137.277078,27.303429,117.898886,6.099439,3.507866,0.487778
min,6.500000,0.000000,1.000000,650.000000,0.000000,0.000000,0.000000,2.700000,-61.848400,-179.968000,2001.000000,1.000000,0.000000
25%,6.600000,0.000000,5.000000,691.000000,0.000000,0.000000,14.625000,14.000000,-14.595600,-71.668050,2007.000000,3.250000,0.000000
50%,6.800000,5.000000,6.000000,754.000000,140.000000,0.000000,20.000000,26.295000,-2.572500,109.426000,2013.000000,7.000000,0.000000
75%,7.100000,7.000000,7.000000,909.750000,445.000000,1.863000,30.000000,49.750000,24.654500,148.941000,2017.000000,10.000000,1.000000
max,9.100000,9.000000,9.000000,2910.000000,934.000000,17.654000,239.000000,670.810000,71.631200,179.662000,2022.000000,12.000000,1.000000

In [14]:
#replace zeros  with NAN
col_with_zeros=['nst','dmin','gap']
for col in col_with_zeros:
    df[col]=df[col].replace(0,np.nan)
    #impute Nan with median
    if df[col].isnull().sum()>0:
        median_val=df[col].median()
        df[col].fillna(median_val,inplace=True)
        print(f"-Imputed {col} NaN values with median:{median_val:.2f}")
print("- Missing values after imputation")
print(df.isnull().sum())

- Missing values after imputation
magnitude    0
cdi          0
mmi          0
sig          0
nst          0
dmin         0
gap          0
depth        0
latitude     0
longitude    0
Year         0
Month        0
tsunami      0
dtype: int64

In [17]:
#check for duplicates 
duplicate_count=df.duplicated().sum()
print(f"-Found {duplicate_count} duplicates rows")
if duplicate_count>0:
    df.drop_duplicates(inplace=True)
    print(f"-Dropped duplicates row {df.shape}")

-Found 0 duplicates rows

In [23]:
#handling outliers
print("- checking 'magnitude','depth','cdi','mmi' for extreme values using IQR method")
outliers_cols=['magnitude','depth','cdi','mmi']
for col in outliers_cols:
    Q1=df[col].quantile(0.25)
    Q3=df[col].quantile(0.75)
    IQR=Q3-Q1
    lower_bound=Q1-1.5*IQR
    upper_bound=Q3+1.5*IQR
    outliers = df[(df[col] < lower_bound) | (df[col] > upper_bound)][col]
print(f"- {col}:{len(outliers)} outliers dtected (values <{lower_bound:.2f} or >{upper_bound:.2f}")
#cap outliers
df[col]=df[col].clip(lower=lower_bound,upper=upper_bound)
print(f"- Capped {col} outliers to bound [{lower_bound:.2f},{upper_bound:.2f}]")

- checking 'magnitude','depth','cdi','mmi' for extreme values using IQR method
- mmi:1 outliers dtected (values <2.00 or >10.00
- Capped mmi outliers to bound [2.00,10.00]

.clip(lower=lower_bound, upper=upper_bound)

Any value less than lower_bound is replaced with lower_bound.

Any value greater than upper_bound is replaced with upper_bound.

Values within the range remain unchanged.

In [24]:
#validate data types
#ensure that tsunami in binaryb and numerical col in int/float
df['tsunami']=df['tsunami'].astype(int)
numerical_cols=['magnitude','cdi','mmi','sig','nst','dmin','gap','depth','longitude','latitude']
for col in numerical_cols:
    df[col]=df[col].astype(float)
    print(f"-converted {col} in float")

-converted magnitude in float
-converted cdi in float
-converted mmi in float
-converted sig in float
-converted nst in float
-converted dmin in float
-converted gap in float
-converted depth in float
-converted longitude in float
-converted latitude in float

In [26]:
#validate ranges /normalization
#magnitude generally in range 6.5 to 9.5 for significae quakes
df=df[(df['magnitude']>=6.5 )& (df['magnitude']<=10.0)]
#Depth ,non-negative resonable max( e.g 700)
df=df[(df['depth']>=0)&(df['depth']<=700)]
print(f"filtered depoth {df.shape}")

filtered depoth (782, 13)

In [30]:
#cdi and mmi: 0-10 and 1-12 respectively
df=df[(df['cdi']>=0)&(df['cdi']<=10) & (df['mmi']>=1)&(df['mmi']<=12)]
print(f"-filtered cdi New shape{df.shape}")

-filtered cdi New shape(782, 13)

In [31]:
#tsunami ensure in binary form (0,1)
df=df[df['tsunami'].isin([0,1])]
print(f"-Ensured tsunami is bionary(0,1) new shape {df.shape}")

-Ensured tsunami is bionary(0,1) new shape (782, 13)

In [32]:
#feature enginnering 
print("- Creating a new feature 'is_coastal' based on proximity to ocean")
#simple heuristic :earthquake within 200km of coastalines can cause tsunami
df['is_coastal']=((df['latitude'].abs()<60)&(df['longitude'].abs()<180).astype(int))
print("- Added 'is_coastal' feature (1=coastal,0=inland,based on latitude and longitude")

- Creating a new feature 'is_coastal' based on proximity to ocean
- Added 'is_coastal' feature (1=coastal,0=inland,based on latitude and longitude

In [33]:
# final check 
print("-Final shape of cleaned dataset",df.shape)
print("-final missing values:")
print(df.isnull().sum())
print("-fnal data types:")
print(df.dtypes)
print("\n saving cleaned dataset to 'earthquake_data_cleaned.csv'.")
df.to_csv('earthquake_data_cleaned.csv',index=False)
print("clened dataset has save successfully !")

-Final shape of cleaned dataset (782, 14)
-final missing values:
magnitude     0
cdi           0
mmi           0
sig           0
nst           0
dmin          0
gap           0
depth         0
latitude      0
longitude     0
Year          0
Month         0
tsunami       0
is_coastal    0
dtype: int64
-fnal data types:
magnitude     float64
cdi           float64
mmi           float64
sig           float64
nst           float64
dmin          float64
gap           float64
depth         float64
latitude      float64
longitude     float64
Year            int64
Month           int64
tsunami         int64
is_coastal       bool
dtype: object

 saving cleaned dataset to 'earthquake_data_cleaned.csv'.
clened dataset has save successfully !

In [34]:
import os
os.listdir()

['.virtual_documents', 'earthquake_data_cleaned.csv']

In [35]:
df1=pd.read_csv('earthquake_data_cleaned.csv')
df1.head()

,magnitude,cdi,mmi,sig,nst,dmin,gap,depth,latitude,longitude,Year,Month,tsunami,is_coastal
0,7.0,8.0,7.0,768.0,117.0,0.509,17.0,14.000,-9.7963,159.596,2022,11,1,True
1,6.9,4.0,4.0,735.0,99.0,2.229,34.0,25.000,-4.9559,100.738,2022,11,0,True
2,7.0,3.0,3.0,755.0,147.0,3.125,18.0,579.000,-20.0508,-178.346,2022,11,1,True
3,7.3,5.0,5.0,833.0,149.0,1.865,21.0,37.000,-19.2918,-172.129,2022,11,1,True
4,6.6,0.0,2.0,670.0,131.0,4.998,27.0,624.464,-25.5948,178.278,2022,11,1,True

Visualization of dataset